@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

a  { text-decoration: none;}

#logo { font-family: Bungee, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    margin-top: 3px ;
        color: cornsilk;
        -webkit-text-stroke-width:thin;   
        -webkit-text-stroke-color: black;  
        stroke:black;
    text-align: center;
   
}

#logo:hover {color:rgb(255, 0, 0)}

li { position: relative;
    padding: 0%;
     display: inline;
    font-size: x-large;
text-align: right;}