@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

header {border: 30px rgba(96, 172, 209, 0.788) solid;}  

.active {
    text-decoration-line: underline;
}
* { margin: 0;
    padding: 0;
    border: none;}
    
a  { text-decoration: none;}

#logo { font-family: Bungee, 'Arial Narrow Bold', sans-serif;
position: fixed;
left: 37%;
top: -35px;
    font-size: 50px;
    margin-top: 3px ;
        color: cornsilk;
        -webkit-text-stroke-width:thin;   
        -webkit-text-stroke-color: black;  
        stroke:black;
    text-align: center;
    animation-name: logo-mouseout;
    animation-duration: 0.2s;
   
}

#logo:hover {color:rgb(255, 0, 0);
animation-name: logo-zoom;
animation-duration: .1s;
animation-fill-mode: forwards;
}

@keyframes logo-zoom {
    from { transform: scale(1);

    }
    to {
transform: scale(1.1);
    }

}

@keyframes logo-mouseout {
    from { transform: scale(1.1);

    }
    to {
transform: scale(1);
    }

}
nav {position: absolute;
float: right;
right: 0%
}

li { font-family: Lato, 'Helvetica Neue', sans-serif;
    font-weight: 900;
    position: relative;
    padding: 0%;
     display: inline;
    font-size: x-large;
text-align: right;
float: right;
letter-spacing: 1px;}

i {font-size: 18px;}

.menuhover {color:rgb(0, 0, 0)}
.menuhover:hover {text-decoration: underline;}

#about {
    background-color:rgba(255, 208, 1, 0.486); 
    border-color: #3a3a3a;
    border-width: 2px;
    border-style:groove;
    margin: auto;
    width: 30%;
    padding: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15%;
    text-align: center;
}

h3 {font-family: Lato, Courier, monospace;
text-align: center;
font-size: 25px;
margin: auto;
}

body {background-image: url("../images/background.jpg");
background-size: 100%;
background-color: rgba(163, 218, 244, 0.548) ;}

footer {
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 0%);
    margin: 0 auto;
    clear: both;
    
}
.social-networks {
text-align: center;
}
.social-networks > li {
    display: inline;
    letter-spacing: 20px;
}
.social-networks i {
    font-size: 360%;
    color: #3a3a3a;

}

#formbox {
    font-family: Bungee, Courier, monospace;
    text-transform: uppercase;
    font-size: large;
    color: #000000;
    background-color:rgba(255, 208, 1, 0.486); 
    border-color: #3a3a3a;
    border-width: 2px;
    border-style:groove;
    border-style: double;
    max-width: 400px;
    max-height: 500px;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    margin: 0 auto;
    padding: 30px;
}

input[type="text"]
{
    font-size:24px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
}

input[type="email"]
{
    font-size:24px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
}
textarea
{
    font-size:24px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
}

#submit {
    font-size:24px;
    position: fixed;
    top: 500px;
    left: 160px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    background-color:rgba(255, 255, 255, 0.562); 
    border-color: #3a3a3a;
    border-width:4px;
    border-style:groove;
    border-style: double;
}

#photos {
    clear:both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}
#photos > img {
    width: 100%;
}

@media screen and (max-width: 1399px)
{ #logo { position: absolute;
    left: 37%;
    top: -10px;
        font-size: 30px;
        margin-top: 3px ;}
        nav {
            position: fixed;
            right: 400px;
            top: 60px;
        }
}

@media screen and (max-width: 800px)
{ #logo { position: absolute;
    left: 30%;
    top: -10px;
        font-size: 30px;
        margin-top: 3px ;}
        li { 
            font-weight: 900;
            position: relative;
             display: inline;
            font-size: medium;
        text-align: right;
        float: right;
        letter-spacing: 1px;}
}


@media screen and (max-width: 500px)
{ #logo { position: absolute;
    left: 12%;
    top: -5px;
        font-size: 20px;
        margin-top: 3px ;}
 nav {
            position: fixed;
            right: 140px;
            top: 40px;
        }
}

@media screen and (max-width: 280px)
{ #logo { position: absolute;
          left: 50px;
         font-size: 18px;
        
    }

        li {font-size: 11px;}
        i {font-size: 11px;}
        nav {
            position: absolute;
            right: 69px;
            top: 44px;
           
        }
        #formbox {
           
            font-size: 10px;
            max-width: 250px;
            max-height: 450px;
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translate(-50%, 0%);
            margin: 0 0 10 5;
            padding: 2px;
        }
        #submit {position: fixed; left: 75px; top: 400px;}
        textarea {scale: 0.6; position: relative; left: -75px; top: -50px;}
        body {background-image: url("../images/background.jpg");
            background-size: 500%;
            background-color: rgba(163, 218, 244, 0.548) ;}

            
            .social-networks {position: relative; bottom: -50px;}
            #about {
                width: 90%;
                padding: 0px;
                position: absolute;}
    #photos { position:absolute;
                column-count: 1;}
               
            }
