/* Importing fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Styling for active links with underline */
.active {
    text-decoration-line: underline;
}

/* Remove text decoration for all links */
a {
    text-decoration: none;
}

/* Resetting default margins, paddings, and borders for all elements */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header styles */
header {
    background-color: rgb(96, 172, 209);
}

/* Logo styles */
#logo {
    font-family: Bungee, 'Arial Narrow Bold', sans-serif;
    font-size: 42px;
    text-align: center;
    color: cornsilk;
    -webkit-text-stroke-width: thin;
    -webkit-text-stroke-color: black;
    stroke: black;
}

/* Hover styles for the logo */
#logo:hover {
    color: rgb(255, 0, 0);
}

/* Navigation styles */
nav {
    position: relative;
    font-family: Lato, 'Helvetica Neue', sans-serif;
    font-weight: 900;
    font-size: x-large;
    text-align: center;
}

/* Inline display for list items in the navigation */
li {
    display: inline;
}

/* Font size for icons */
i {
    font-size: 18px;
}

/* Styles for menu links */
.menuhover {
    color: rgb(0, 0, 0);
}

/* Hover styles for menu links */
.menuhover:hover {
    text-decoration: underline;
}

/* Body styles */
body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-color: rgba(163, 218, 244, 0.548);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* About section styles */
#about {
    font-family: Lato, Courier, monospace;
    text-align: center;
    background-color: rgba(255, 208, 1, 0.486);
    border-color: #3a3a3a;
    border-width: 2px;
    border-style: groove;
    width: 55%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    top: 15%;
    text-align: center;
}

/* Heading styles for the about section */
h3 {
    font-size: 25px;
    margin: auto;
}

/* Footer styles */
footer {
    height: 80px;
    position: relative;
    margin-top: auto;
}

/* Social media links styles */
.social-networks {
    text-align: center;
}

/* Inline display for social media links */
.social-networks > li {
    display: inline;
}

/* Icon styles for social media links */
.social-networks i {
    font-size: 460%;
    color: #3a3a3a;
    letter-spacing: 5px;
}

/* Styles for the form box */
#formbox {
    font-family: Bungee, Courier, monospace;
    text-transform: uppercase;
    font-size: medium;
    color: #000000;
    background-color: rgba(255, 208, 1, 0.486);
    border-color: #3a3a3a;
    border-width: 2px;
    border-style: groove;
    max-width: 250px;
    max-height: 470px;
    position: relative;
    top: 5px;
    margin: 0 auto;
    padding: 10px;
}

/* Centering the form elements */
form {
    text-align: center;
}

/* Styles for input fields */
input[type="text"] {
    font-size: 24px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
}

input[type="email"] {
    font-size: 24px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
}

/* Styles for the textarea */
textarea {
    font-size: 24px;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
    resize: none;
}

/* Styles for the submit button */
#submit {
    font-size: 24px;
    position: relative;
    font-family: Lato, Courier, monospace;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.562);
    border-color: #3a3a3a;
    border-width: 4px;
    border-style: groove;
    cursor: pointer;
}

/* Photo section styles */
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

/* Adjusting image width in the photo section */
#photos > img {
    width: 100%;
}

/* Media query for screen size up to 1268px */
@media screen and (max-width: 1268px) {
    body {
        background-size: 350%;
    }
    #photos {
        columns: 2;
    }
}

/* Media query for screen size up to 513px */
@media screen and (max-width: 513px) {
    #logo {
        font-size: 30px;
    }
    nav {
        font-size: large;
    }
    body {
        background-size: 450%;
    }
    #photos {
        columns: 1;
    }
}

/* Media query for screen size up to 306px */
@media screen and (max-width: 306px) {
    #logo {
        font-size: 24px;
    }
    nav {
        font-size: medium;
    }
    body {
        background-size: 500%;
    }
    #photos {
        columns: 1;
    }
}

/* Media query for screen size up to 254px */
@media screen and (max-width: 254px) {
    #logo {
        font-size: 20px;
    }
    nav {
        font-size: small;
    }
    body {
        background-size: 550%;
    }
    #photos {
        columns: 1;
    }
}
